body
{
	background-image:url(http://static.tumblr.com/sixytty/HJYm900wt/game_of_thrones_house_stark_sigil_render_by_titch_ix-d50m12c.png);
	background-size:100%;
	background-repeat:no-repeat;
}

#header
{
	background-color:#888888;
	background-width:100%;
	min-height:100px;
}

#left_column
{
	
}
